/*Reviewer*/

* {
    transition: all .1s ease-in;
    box-sizing: border-box;
    line-height: 1;
}

.container {
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
}

main {
    background-color: #2B81AC;
    border: 5px solid #0e75a8;
    min-height: 100vh;
}

.header .title {
    display: inline-block;
    font-family: 'Lucida Sans Unicode';
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    text-align: center;
}

.main-block {
    font-size: 0;
    position: relative;
    width: auto;
    margin-top: 15px;
}

main .main-block .city-list li {
    display: inline-block;
    font-family: 'Lucida Sans Unicode';
    font-size: 12px;
    line-height: 13px;
    color: #FFFFFF;
    opacity: 0.5;
    cursor: pointer;
}

.city-list li {
    padding-top: 15px;
}


main .main-block .city-list li:hover {
    opacity: 1.0;
}

i.wi {
    font-size: 15px;
}

.lisbon {
    width: 50%;
    min-height: 73px;
    background-color: #3399CC;
    text-align: center;
    border: 1px solid white;
}

.paris {
    width: 25%;
    min-height: 73px;
    background-color: #33CCCC;
    text-align: center;
    border: 1px solid white;
}

.belgrade {
    width: 25%;
    min-height: 73px;
    background-color: #996699;
    text-align: center;
    border: 1px solid white;
}

.venice {
    width: 25%;
    min-height: 73px;
    background-color: #C24747;
    text-align: center;
    border: 1px solid white;
}

.tel-avive {
    width: 25%;
    min-height: 73px;
    background-color: #E2674A;
    text-align: center;
    border: 1px solid white;
}

.cair {
    width: 25%;
    min-height: 73px;
    background-color: #FFCC66;
    text-align: center;
    border: 1px solid white;
}

.new-york {
    width: 25%;
    min-height: 73px;
    background-color: #99CC99;
    text-align: center;
    border: 1px solid white;
}

.new-delhi {
    width: 25%;
    min-height: 73px;
    background-color: #669999;
    text-align: center;
    border: 1px solid white;
}

.francisco {
    width: 50%;
    min-height: 73px;
    background-color: #CC6699;
    text-align: center;
    border: 1px solid white;
}

.tokyo {
    width: 25%;
    min-height: 73px;
    background-color: #339966;
    text-align: center;
    border: 1px solid white;
}

.sydney {
    width: 100%;
    min-height: 73px;
    background-color: #666699;
    text-align: center;
    border: 1px solid white;
}

.celcius {
    margin-top: 10px;
    font-size: 12px;
    line-height: 13px;
}


.footer {
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 25px;
}

@media only screen and (min-width: 930px) {
    /*Reviewer*/

.container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 135px;
    }

main {
    background-color: #2B81AC;
    border: 25px solid #0e75a8;
}

.header .title {
    display: inline-block;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 15px;
}

.main-block {
    font-size: 0;
    min-width: 1170px;
}

main .main-block .city-list li {
    display: inline-block;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 0.5;
    padding-top: 26px;
    cursor: pointer;
}


main .main-block .city-list li:hover {
    opacity: 1.0;
}

i.wi {
    font-size: 30px;
}

.lisbon {
    width: 50%;
    height: 147px;
    background-color: #3399CC;
    text-align: center;
    border: 1px solid white;
}

.paris {
    width: 25%;
    height: 147px;
    background-color: #33CCCC;
    text-align: center;
    border: 1px solid white;
}

.belgrade {
    width: 25%;
    height: 147px;
    background-color: #996699;
    text-align: center;
    border: 1px solid white;
}

.venice {
    width: 25%;
    height: 147px;
    background-color: #C24747;
    text-align: center;
    border: 1px solid white;
}

.tel-avive {
    width: 25%;
    height: 147px;
    background-color: #E2674A;
    text-align: center;
    border: 1px solid white;
}

.cair {
    width: 25%;
    height: 147px;
    background-color: #FFCC66;
    text-align: center;
    border: 1px solid white;
}

.new-york {
    width: 25%;
    height: 147px;
    background-color: #99CC99;
    text-align: center;
    border: 1px solid white;
}

.new-delhi {
    width: 25%;
    height: 147px;
    background-color: #669999;
    text-align: center;
    border: 1px solid white;
}

.francisco {
    width: 50%;
    height: 147px;
    background-color: #CC6699;
    text-align: center;
    border: 1px solid white;
}

.tokyo {
    width: 25%;
    height: 147px;
    background-color: #339966;
    text-align: center;
    border: 1px solid white;
}

.sydney {
    width: 100%;
    height: 147px;
    background-color: #666699;
    text-align: center;
    border: 1px solid white;
}

.celcius {
    margin-top: 19px;
    font-size: 22px;
    line-height: 26px;
}


.footer {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 35px;
    margin-bottom: 119px;
}
}